@page "/"

<PageTitle>Home</PageTitle>

<div class="template-cont">
    <h1>Hello, sekai!</h1>

    Welcome to your new app.

    <Counter IncrementAmount="10" />

    <Modal Title="My first Modal dialog" Show="true">
        <p>
            This is my first modal dialog
        </p>
    </Modal>
</div>