@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="template-cont">
    <h1>Hello, sekai!</h1>

    Welcome to your new app.

    <Counter IncrementAmount="10" />

    <Modal Title="My first Modal dialog" Show="showDialog" OnCancel="() => showDialog = false">
        <p>
            This is my first modal dialog
        </p>
    </Modal>

    <button class="btn btn-primary" @onclick="() => showDialog = true">Show Dialog</button>
</div>

@code {
    bool showDialog = false;
}